<html>
<body>
<center style="margin-top: 5em">

<h2>Hello, from {{ group_name }}</h2>
<h4 style="color:green">Index page of Ansible assignment made by Ajay Panwar from {{ group_name }}</h4></center>

</body>
</html>
